 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a team of learners trying to make a better world. We are coursing Masteryourself at Teamlabs, and we are seeking both our personal and team purpose.</p>
                </div>
                <div class="col-lg-4">
                    <p>These above, are our values. Some of them will change, some of them will die, and new ones will come. But in the meanwhile, whenever we are lost, or we have some doubts on how we should proceed, this is the place we come to, in order to find answers</p>
                </div>
            </div>
        </div>
    </section>
